<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <title>AJAX</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../public/assets/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/images/favicon-16x16.png">
  <link rel="manifest" href="../public/assets/images/manifest.json">
  
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../public/assets/css/test.css" />
  <script src="../public/assets/js/bootstrap/bootstrap.js"></script>
  <script language="JavaScript" type="text/javascript" src="../public/assets/js/test.js"></script>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <!-- Root Element  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../public/index.html">AJAX TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../public/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./GET.html">GET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./POST.html">POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./DELETE.html">DELETE</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="row" >
    <div class="col-12" style="height:60px"></div>
    <div class="col-2" style="height:500px"></div>
    <div class="col-8" style="height:500px">
      
     POST 
    </div>
    <div class="col-2" style="height:500px"></div>
    <div class="col" style=" height:60px"></div>
  </div>

</body>

</html>